body{
    font-family: 'Spartan', sans-serif;
    margin: 5em 1.7em;
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-position-x: center;
    background-repeat: no-repeat;
    
  }
  
  /* Heading */
  .heading{
    text-align: center;
    color: hsl(300, 43%, 22%);
    margin-bottom: 4em;
  }
  
  header{
    font-weight: 700;
    margin: 1em .7em;
    font-size: 1.3em;
  }
  
  p{
    font-weight: 400;
    font-size: .85rem;
    line-height: 2em;
  }
  
  /* Reviews */
  .review{
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin: 1em 0;
    padding: 1em;
    font-weight: 700;
    font-size: .75rem;
    color: hsl(300, 43%, 22%);
  }
  
  .star{
    margin: 0 0 1em 0;
  }
  
  /* Testimonials */
  .testimonial{
    background-color:hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin: 1em 0;
    padding: 2em 1em 2em 2em;
    line-height: 1.5em;
    
  }
  
  .title{
    margin-bottom: 2em;
    display: inline-block;
    margin: 1em 0 1em 1em;
  }
  .headshot{
    border-radius: 100%;
    width: 3em;
    float: left;
    display: inline;
    margin-top: 1em;
  }
  
  .name{
    font-weight: 700;
  }
  
  .verified{
    color: hsl(333, 80%, 67%);
  }
  
  .quote{
    margin-top: 1.25em;
    font-size: .9em;
  }
    
  /* background-image: url(images/bg-pattern-top-mobile.svg); */
  .attribution {
      font-size: 11px;
      text-align: center;
    }
  .attribution a {
      color: hsl(228, 45%, 44%);
    }
  
  
  @media  (min-width: 768px){

    body{
        margin: 5em 5em;
    }
    /* Heading */

    .heading{
      display: flex;
      flex-direction: row;
    }
    
    .title{
      max-width: 50%;
      padding-right: 50px;
      text-align: left;
    }
    header{
      margin: 0;
    }
  
    .reviews{
      display: flex;
      flex-direction: column;
      max-width: 50%;
      text-align: left;
    }

    /* Reviews */

    .review-2{
        position: relative;
        left: 4em;
    }

    .review-3{
        position: relative;
        left: 8em;
    }
  
    .star{
      display: inline;
      margin-right: 2em;
      word-spacing: .5em;
    }
    .testimonials{
      display: flex;
      flex-direction: row;
      
    }
    
    .testimonial{
      margin: 0 1em;
    }

    .test-2{
        position: relative;
        top: 1em;
    }
    
    .test-3{
        position: relative;
        top: 2em;
    }
  }